<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Infinity</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <!-- animate css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- mean menu css -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main style -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- responsive -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->

                    <div class="site-logo">
                        <a th:href="@{/homepage}">
                            <img th:src="@{/img/logo.png}" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a th:href="@{/}">Home</a></li>

                            <li ><a th:href="@{#}">Categories</a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/hatching}">Hatching</a></li>
                                    <li><a th:href="@{/oilPainting}">Oil Painting</a></li>
                                    <li><a th:href="@{/watercolorPainting}">Watercolor Painting</a></li>
                                </ul>
                            </li>

<!--                            <li sec:authorize="hasAuthority('artist')"><a th:href="@{about.html}">About</a></li>-->

                            <li ><a th:href="@{/exhibition}">Exhibition</a></li>
                            <li ><a th:href="@{/workshop}">Workshop</a></li>
                            <li sec:authorize="hasAuthority('artist')"><a th:href="@{/addArt}">Sell Artwork</a></li>
                            <li sec:authorize="hasAuthority('admin')"><a th:href="@{/receivedArtworks}">Review Artworks</a></li>
                            <li><a th:href="@{/about}">About</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
                            <li class="current-list-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

<!--                            <li>-->
<!--                                <div class="header-icons">-->
<!--                                    <a class="shopping-cart" th:href="@{cart.html}"><i class="fas fa-shopping-cart"></i></a>-->
<!--                                    <a class="mobile-hide search-bar-icon" th:href="@{#}"><i class="fas fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" th:href="@{#}"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>

                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">World of imagination</p>
                        <h1>Infinity Art Gallery</h1>
                        <div class="hero-btns">
                            <a th:href="@{/shop}" class="boxed-btn">Art Collection</a>
                            <a th:href="@{/about}" class="bordered-btn">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->


<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>Cuz your love for art</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-people-carry"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Visit</h3>
                        <p>If not offline, better online!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-comment"></i>
                    </div>
                    <div class="content">
                        <h3>Appreciate</h3>
                        <p>Drop down your valuable reviews</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Artworks</h3>
                    <p>“Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.”   – Leondardo Da Vinci</p>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            <div class="col-lg-4 col-md-6 text-center" th:each="artwork: ${artworks}" th:object="${artwork}" th:if="${artwork.label} == 'Unsold'">
                <div class="single-product-item">
                    <div class="product-image">
                        <a th:href="@{/shop/{id}(id=${artwork.getId()})}"><img th:src="*{getImgUrl()}" alt=""></a>
                    </div>
                    <h3 th:text="*{getTitle()}">Title</h3>
                    <strong class="product-price" th:text="'Price ' + *{getPrice()} + ' $'"></strong><br>
                    <strong>By </strong><strong class="product-price" th:text="${artAndOwner.get(artwork)}"></strong><br><br>
                    <a th:href="@{/shop/{id}(id=${artwork.getId()})}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Buy the Art</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end product section -->



<!-- latest news -->
<div class="latest-news pt-150 pb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Workshops</h3>
                    <p>Participants are welcome to attend any workshop of their interest for free</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" th:each="workshop: ${workshops}" th:object="${workshop}">
                <div class="single-latest-news">
                    <a th:href="@{/workshop/{id}(id=${workshop.getId()})}"><img class="latest-news-bg" th:src="*{getImgUrl()}" alt=""></a>
                    <div class="news-text-box">
                        <h3 th:text="*{title}"><a th:href="@{/workshop/{id}(id=${workshop.getId()})}">You will vainly look for fruit on it in autumn.</a></h3>
                        <p class="blog-meta">
                            <i class="fas fa-user"></i>  <span class="author" th:text="' ' + ${workshopAndOrganizer.get(workshop)}">Admin</span><span class="tab"></span>
                            <i class="fas fa-calendar"></i>  <span class="date" th:text="' ' + ${#strings.substring(workshop.datetime,0,11)}"> 27 December, 2019</span>
                        </p>
                        <p class="excerpt" th:text="${#strings.abbreviate(workshop.description,100)}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a th:href="@{/workshop/{id}(id=${workshop.getId()})}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- end latest news -->


<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img th:src="@{/img/avaters/avatar1.png}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Lionel Preeti<span>Sketch Artist</span></h3>
                            <p class="testimonial-body">
                                " My experience with Infinity Art gallery has been truly delightful. Preparation for the exhibition was done very smoothly and my artwork was presented professionally. Thanks to the amazing team for making the experience such a memorable achievement. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img th:src="@{/img/avaters/avatar2.png}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>David Niph <span>Acrylic Artist</span></h3>
                            <p class="testimonial-body">
                                " Many complements to Infinity Art Gallery, the staff for the professional presentation of my artwork, the great and prompt communication and all round friendly service. The gallery is perfectly located at a very holistic place. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img th:src="@{/img/avaters/avatar3.png}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Jacob Sikim <span>Murals Specialist</span></h3>
                            <p class="testimonial-body">
                                " Professionalism, support, learning and networking, a great exhibition, an overall splendid experience as an Artist at Infinity Art Gallery. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->


<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>The Infinity Art Gallery, run by Jasmine Roy, is a gathering room where both pilgrims and
                        inhabitants, tourists and travelers may enjoy a new dimension of sharing ideas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>Dashashwamedh road, Varanasi, Uttar Pradesh 221108.</li>
                        <li>support@infinity.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/about}">About</a></li>
                        <li><a th:href="@{/shop}">Shop</a></li>
                        <li><a th:href="@{/workshop}">Workshops</a></li>
                        <li><a th:href="@{/exhibition}">Exhibitions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="text-center">
                                <div class="social-icons">
                                    <ul>
                                        <li><a th:href="@{#}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a th:href="@{#}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a th:href="@{#}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a th:href="@{#}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a th:href="@{#}" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->


<!-- jquery -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<!-- bootstrap -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- count down -->
<script th:src="@{/js/jquery.countdown.js}"></script>
<!-- isotope -->
<script th:src="@{/js/jquery.isotope-3.0.6.min.js}"></script>
<!-- waypoints -->
<script th:src="@{assets/js/waypoints.js}"></script>
<!-- owl carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- mean menu -->
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<!-- sticker js -->
<script th:src="@{/js/sticker.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>

</body>
</html>