<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- title -->
  <title>Single Artwork</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" th:href="@{/css/all.min.css}">
  <!-- bootstrap -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <!-- owl carousel -->
  <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
  <!-- magnific popup -->
  <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
  <!-- animate css -->
  <link rel="stylesheet" th:href="@{/css/animate.css}">
  <!-- mean menu css -->
  <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
  <!-- main style -->
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <!-- responsive -->
  <link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>

<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->

          <div class="site-logo">
            <a th:href="@{/homepage}">
              <img th:src="@{/img/logo.png}" alt="">
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a th:href="@{/}">Home</a></li>

              <li ><a th:href="@{#}">Categories</a>
                <ul class="sub-menu">
                  <li><a th:href="@{/hatching}">Hatching</a></li>
                  <li><a th:href="@{/oilPainting}">Oil Painting</a></li>
                  <li><a th:href="@{/watercolorPainting}">Watercolor Painting</a></li>
                </ul>
              </li>

              <!--                            <li sec:authorize="hasAuthority('artist')"><a th:href="@{about.html}">About</a></li>-->

              <li ><a th:href="@{/exhibition}">Exhibition</a></li>
              <li ><a th:href="@{/workshop}">Workshop</a></li>
              <li sec:authorize="hasAuthority('artist')"><a th:href="@{/addArt}">Sell Artwork</a></li>
              <li sec:authorize="hasAuthority('admin')"><a th:href="@{/receivedArtworks}">Review Artworks</a></li>
              <li><a th:href="@{/about}">About</a></li>
              <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
              <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
              <li class="current-list-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

              <!--                            <li>-->
              <!--                                <div class="header-icons">-->
              <!--                                    <a class="shopping-cart" th:href="@{cart.html}"><i class="fas fa-shopping-cart"></i></a>-->
              <!--                                    <a class="mobile-hide search-bar-icon" th:href="@{#}"><i class="fas fa-search"></i></a>-->
              <!--                                </div>-->
              <!--                            </li>-->
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" th:href="@{#}"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>

          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>See more Details</p>
          <h1>Single Artwork</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img th:src="${artwork.getImgUrl()}" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content">
          <h3 th:text="${artwork.getTitle()}">Artwork Title</h3>
          <span>Price</span><p class="single-product-pricing" th:text="${artwork.getPrice()} + ' $' "></p>
          <p th:text="${artwork.getDescription()}"></p>

          <a href="#orderForm" class="cart-btn"><i class="fas fa-shopping-cart"></i> Place Order</a><br><br>
          <form th:action="@{/shop/{id}(id=${artwork.getId()})}">
            <button type="submit" class="btn btn-dark">
              <i class="fas fa-heart"></i> Like
            </button>
          <br><br>
          </form>

          <strong>Artist: </strong> <span th:text="${owner}"></span>  <br>
          <strong>Likes: </strong> <span th:text="${artwork.getLikes()}"></span>

          <h4>Share:</h4>
          <ul class="product-share">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single product -->

<!-- order form -->



<div class="container mt-150 mb-150" id="orderForm">
  <div class="contact-form-box">
    <div class="form-div"  >

      <h2>Order Form</h2>

      <form class="form-signin" method="POST" th:action="@{/order}" >
        <b> <label>Email: </label> </b>
        <br>
        <input class="form-control" th:field="${orders.email}" type="email" placeholder="infinityart@gmail.com" name="email" required>
        <br>
        <b> <label>Delivery Address: </label> </b>
        <input class="form-control" type="text" th:field="${orders.address}" placeholder="Address where artwork needs to be delivered" name="address" required>
        <br>


        <b><label>Price to be paid: </label> </b><strong th:text="${artwork.getPrice()} + '$' ">120$</strong>
        <input type="hidden" th:name="artwork_id" th:value="${artwork.getId()}"   name="artwork_id" />
        <p class="form-text">Further transaction details would be sent to you via email</p>
        <br>
        <button class="btn btn-dark"  type="submit" onclick="return alert('Order Placed Successfully!')" >Place order</button>

      </form>
    </div>
  </div>
</div>



<!-- order form -->

<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">About us</h2>
          <p>The Infinity Art Gallery, run by Jasmine Roy, is a gathering room where both pilgrims and
            inhabitants, tourists and travelers may enjoy a new dimension of sharing ideas.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Get in Touch</h2>
          <ul>
            <li>Dashashwamedh road, Varanasi, Uttar Pradesh 221108.</li>
            <li>support@infinity.com</li>
            <li>+00 111 222 3333</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Pages</h2>
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/shop}">Shop</a></li>
            <li><a th:href="@{/workshop}">Workshops</a></li>
            <li><a th:href="@{/exhibition}">Exhibitions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="text-center">
                <div class="social-icons">
                  <ul>
                    <li><a th:href="@{#}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a th:href="@{#}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a th:href="@{#}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a th:href="@{#}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a th:href="@{#}" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->




<!-- jquery -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<!-- bootstrap -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- count down -->
<script th:src="@{/js/jquery.countdown.js}"></script>
<!-- isotope -->
<script th:src="@{/js/jquery.isotope-3.0.6.min.js}"></script>
<!-- waypoints -->
<script th:src="@{assets/js/waypoints.js}"></script>
<!-- owl carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- mean menu -->
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<!-- sticker js -->
<script th:src="@{/js/sticker.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>
<!-- order form js -->
<script th:src="@{/js/singleArt.js}"></script>

</body>
</html>